@import "../../vars.css";

@media (min-width: 0px) {
  .cool-features-container {
    margin-top: 84px;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
  }

  .cool-features-container h2 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
  }

  .cool-feature {
    margin-top: 48px;
  }

  .cool-feature p {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .cool-feature-title {
    border-bottom: 1px solid var(--color-black);
    border-top: 1px solid var(--color-black);
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 12px;
    text-align: center;
  }

  .cool-feature-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .cool-feature-desc {
    margin-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }

  .feature-image img {
    width: 320px;
  }
}

@media (min-width: 820px) {
  .cool-features-container {
    width: 560px;
    margin-top: 120px;
  }

  .cool-features-container h2 {
    font-size: 28px;
  }

  .cool-feature-title {
    font-size: 20px;
    padding: 12px 0;
    margin-top: 32px;
  }

  .cool-feature-desc {
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 16px;
  }

  .feature-image {
    margin-left: auto;
    margin-right: auto;
  }

  .feature-image img {
    width: 400px;
    margin-top: 24px;
  }
}

@media (min-width: 1025px) {
  .cool-features-container {
    margin-top: 196px;
    width: 720px;
  }

  .cool-features-container h2 {
    margin-bottom: 32px;
    text-align: center;
  }

  .cool-feature {
    height: 440px;
    /* width: 50%; */
    margin-top: 164px;
  }

  .cool-feature-title {
    border: none;
    font-size: 24px;
    width: 50%;
  }

  .cool-feature-container {
    flex-direction: row;
    position: relative;
  }

  .cool-feature-desc {
    padding-left: 24px;
    padding-right: 14px;
    margin-top: 12px;
    width: 50%;
  }

  .feature-image img {
    width: 300px;
    position: absolute;
    top: -196px;
    right: 32px;
  }

  .cool-features-container div:nth-child(3) .cool-feature-title {
    margin-right: 0;
    margin-left: auto;
  }

  .cool-features-container div:nth-child(3) .cool-feature-container {
    flex-direction: row-reverse;
  }

  .cool-features-container div:nth-child(3) .feature-image img {
    left: 24px;
  }
}
