@media (min-width: 0px) {
  .technologies {
    text-align: center;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .technologies ul {
    margin-top: 12px;
  }

  .technologies-container {
    margin-top: 42px;

    display: flex;
    justify-content: center;
    gap: 18px;
    flex-wrap: wrap;
  }

  .skill {
    width: 140px;
  }

  .skill p {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600;
  }

  .skill ul {
    list-style: none;
    font-size: 14px;
  }

  .skill img {
    height: 72px;
    margin-top: 12px;
  }
}

@media (min-width: 820px) {
  .technologies {
    margin-top: 120px;
  }

  .technologies h3 {
    font-size: 24px;
  }

  .technologies ul {
    margin-top: 16px;
  }

  .technologies li {
    margin-top: 4px;
  }
}

@media (min-width: 1025px) {
  .technologies {
    width: 600px;
    margin-top: 146px;
    margin-left: auto;
    margin-right: auto;
  }

  .technologies h2 {
    margin-bottom: 54px;
    font-size: 28px;
  }

  .skill {
    /* text-align: center; */
    width: 120px;
  }

  .skill img {
    margin-bottom: 12px;
  }

  .skill p {
    font-size: 24px;
  }

  .skill li {
    text-align: center;
    font-size: 14px;
    list-style: none;
  }

  .html,
  .css,
  .react,
  .firebase {
    height: 72px;
  }
}
