@import "../vars.css";

@media (min-width: 0px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    overflow: hidden;
    /* background-color: var(--color-grey); */
  }

  .description {
    /* background-color: var(--color-grey); */

    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
  }

  .description h1 {
    font-weight: 600;
    margin-top: 12px;
  }

  .small-description {
    margin-top: 8px;
    font-size: 14px;
  }

  .small-description p {
    padding-top: 4px;
  }

  .arrow-links {
    margin-top: 18px;
  }

  .arrow-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 8px;
  }

  .arrow-link h4 {
    font-weight: 500;
    font-size: 18px;
  }

  .arrow-link svg {
    width: 24px;
  }

  .screenshot-container {
    padding: 18px;
  }

  .mobile-screenshots {
    margin-top: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 48px;
    position: relative;
  }

  .mobile-screenshots img {
    width: 144px;
  }

  .test {
    position: absolute;
    transform: scale(1.13) translateY(-4px);
  }

  .app-intro {
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
  }

  .app-overview {
    background-color: var(--color-grey);

    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
    /* width: 330px; */
    width: 100vw;

    margin-bottom: 72px;
  }

  .app-overview h4 {
    font-size: 20px;
    margin-top: 18px;
    padding-top: 24px;
    text-align: center;
  }

  .features-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .features {
    padding-bottom: 8px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 346px;
  }

  .features p {
    padding: 8px 12px 8px 24px;
    /* color: white; */
    margin: 0 8px 12px;
    border: 1px solid var(--color-black);
    border-radius: 6px;
  }

  .web-screenshot-container {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    /* width: 300px; */
    width: 100%;
    height: 200px;

    position: relative;
  }

  .web-screenshot-container img {
    width: 310px;

    border: 18px solid var(--color-black);
    border-radius: 6px;

    position: absolute;
    left: calc((100vw - 346px) / 2);
    top: 12px;
    opacity: 0;
  }

  .active {
    opacity: 1 !important;
  }

  .activedesc {
    background-color: var(--color-black);
    border-radius: 6px;
    color: white;
  }

  .technologies {
    text-align: center;
  }

  .technologies ul {
    margin-top: 12px;
  }

  .cool-features-container {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
  }

  .cool-features-container h2 {
    font-weight: 600;
    font-size: 22px;
  }

  .cool-feature {
    margin-top: 24px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .cool-feature p {
    margin-top: 12px;
  }
}
