@import "../vars.css";

svg {
  cursor: pointer;
}

/* #arrowgroup {
  fill: red;
} */

/* #arrow1,
#arrow2,
#arrow3 {
  transition: all 1s ease;
} */

svg:hover #arrow1 {
  transform: translateX(20%);
  transition: all 1s ease;
}

svg:hover #arrow2 {
  transform: translateX(100%);
  transition: all 1s ease;

  opacity: 0;
}

@media (min-width: 0px) {
  .projects-container {
    width: 360px;
    margin-top: 96px;
    padding-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .projects-container h2 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }

  .project {
    width: 340px;
    margin-top: 32px;

    margin-left: auto;
    margin-right: auto;
    padding: 8px 12px;

    border: 1px solid var(--color-green);
    border-radius: 12px;
  }

  .project img {
    width: 320px;
    margin-top: 12px;
    filter: saturate(0);
  }

  .project img:hover {
    transition: 0.8s all ease;
    animation-delay: 0.32s;
    filter: saturate(100%);
    transform: scale(1.05);
  }

  .project h4 {
    text-align: center;
    font-size: 24px;
    margin-top: 16px;
  }

  .project-desc {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 8px 0 16px;
  }

  .read-more {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 4px;
    margin: 16px 24px 12px 0;
    color: var(--color-green);
  }

  .read-more:active {
    color: red;
  }

  .read-more svg {
    width: 24px;
    stroke: var(--color-green);
  }
}

@media (min-width: 820px) {
  .projects-container {
    width: 560px;
  }

  .project {
    width: 560px;
    display: flex;
  }

  .project h4 {
    text-align: left;
    padding-left: 20px;
  }

  .project-desc {
    padding-left: 20px;
  }

  .read-more {
    margin-top: 32px;
    justify-content: flex-start;
    margin-top: 16px;
    padding-left: 18px;
  }
}

@media (min-width: 1025px) {
  .projects-container {
    width: 720px;
  }

  .project {
    width: 100%;
  }

  .project img {
    width: 400px;
  }

  .project h4 {
    font-size: 28px;
  }

  .read-more {
    justify-content: flex-start;
    padding-left: 18px;
    font-size: 20px;
  }
}
