@media (min-width: 0px) {
  .skillstack-container {
    width: 360px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 300px;
  }

  .skills {
    margin-top: 16px;

    margin-left: 24px;
  }

  .skills-container h2 {
    text-align: center;
  }

  .courses-container {
    margin-top: 16px;
  }

  .courses-container h4 {
    text-align: center;
    margin-top: 24px;
  }

  .courses {
    margin-top: 12px;
    margin-left: 24px;
  }
}

@media (min-width: 820px) {
  .skillstack-container {
    width: 560px;
  }

  .skills-and-courses {
    display: flex;
    column-gap: 36px;
  }

  .skills-container h2 {
    text-align: left;
    font-size: 26px;
  }

  .skills {
    margin-top: 32px;
    margin-left: 12px;
  }

  .courses-container {
    margin-top: 0px;
  }

  .courses-container h4 {
    margin-top: 8px;
  }
}

@media (min-width: 1025px) {
  .skillstack-container {
    width: 720px;
  }

  .courses-container {
    margin-top: 4px;
  }

  .courses-container h4 {
    text-align: left;
    padding-left: 16px;
  }

  .courses {
    margin-top: 32px;
  }
}
