@import "../vars.css";
/* @media (min-width: 0px) {
  .skillstack-container {
    width: 360px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 300px;
  }

  .skills {
    margin-top: 16px;

    margin-left: 24px;
  }

  .skills-container h2 {
    text-align: center;
  }

  .courses-container {
    margin-top: 16px;
  }

  .courses-container h4 {
    text-align: center;
    margin-top: 24px;
  }

  .courses {
    margin-top: 12px;
    margin-left: 24px;
  }
}

@media (min-width: 820px) {
  .skillstack-container {
    width: 560px;
  }

  .skills-and-courses {
    display: flex;
    column-gap: 36px;
  }

  .skills-container h2 {
    text-align: left;
    font-size: 26px;
  }

  .skills {
    margin-top: 32px;
    margin-left: 12px;
  }

  .courses-container {
    margin-top: 0px;
  }

  .courses-container h4 {
    margin-top: 8px;
  }
}

@media (min-width: 1025px) {
  .skillstack-container {
    width: 720px;
  }

  .courses-container {
    margin-top: 4px;
  }

  .courses-container h4 {
    text-align: left;
    padding-left: 16px;
  }

  .courses {
    margin-top: 32px;
  }
} */
@media (min-width: 1025px) {
  .current-skillstack {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 256px;
    padding-bottom: 256px;
    padding-top: 128px;
  }

  .current-skillstack h2 {
    margin-bottom: 24px;
  }

  .skills-and-courses {
    display: flex;
    justify-content: space-between;
  }

  /* .skillstack {
    margin-top: 24px;
  } */

  .skill-row {
    margin-bottom: 12px;
  }

  .skills-container {
    width: 380px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }

  .skill p {
    margin-top: 8px;
    text-align: center;
    width: 64px;
  }

  .detail {
    margin-top: 0 !important;
  }

  .html,
  .css,
  .js,
  .react,
  .github,
  .git {
    width: 64px;
  }

  .webpack {
    width: 64px;
  }

  .firebase {
    height: 64px;
    margin-left: 8px;
  }

  .courses {
    width: 260px;
    /* padding-left: 24px; */
  }

  .courses h3 {
    margin-bottom: 20px;
  }

  .courses ul {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }

  .courses li {
    margin-bottom: 8px;
  }

  .courses a {
    color: var(--color-black);
    text-decoration: none;
  }

  .courses a:hover {
    font-weight: 600;
  }
}
